<a href="https://colab.research.google.com/github/yjh0816/numguess/blob/main/230110Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List

In [1]:
# List, Tuple 각 자리의 순서가 존재함
# Dictionary, Set은 자리(index)라는 표현이 없음

# python의 List는 다른 언어에서는 array로 표현되기도 함
# List는 자료를 바꿀 수 있지만, Tuple은 한번 선언되면 자료가 고정됨

animals = []

In [10]:
animals = ['cat','dog','hamster']
animals

['cat', 'dog', 'hamster']

In [6]:
animals.append('lion')
animals

['cat', 'dog', 'hamster', 'lion', 'lion']

In [9]:
# Last In First Out: LIFO
# dequeue
animals.pop()
animals

['cat', 'dog']

In [11]:
animals.insert(1,"tiger")
animals

['cat', 'tiger', 'dog', 'hamster']

In [12]:
# sort() and sorted()
animals.sort()
animals

['cat', 'dog', 'hamster', 'tiger']

In [32]:
numbers = [0.1, -2, 7, 21758, 0]
print(numbers)
numbers.sort(reverse=True)
print(numbers)
# js에서는 오름차순 정렬 규칙이 필요함 그냥하면 11과 100에서 첫 1이 같으므로 다음

[0.1, -2, 7, 21758, 0]
[21758, 7, 0.1, 0, -2]

In [28]:
numbers.reverse()
numbers

[-2, 0, 0.1, 7, 21758]

In [33]:
numbers.index(0)

3

In [34]:
numbers[:numbers.index(0)]

[21758, 7, 0.1]

In [35]:
numbers[numbers.index(0)+1:]

[-2]

In [36]:
animals + numbers

['cat', 'dog', 'hamster', 'tiger', 21758, 7, 0.1, 0, -2]

In [38]:
numbers.extend([2,3,4])
numbers

[21758, 7, 0.1, 0, -2, 2, 3, 4]

In [40]:
0 in numbers

True

In [41]:
6 in numbers

False

In [42]:
0 not in numbers

False

In [43]:
6 not in numbers

True

In [46]:
result = 1
if 0 in numbers:
  result *= 0
else:
  result *= numbers
print(result)

0

In [50]:
for num in numbers:
  if num == 0:
    print('0 is in numbers')

if 0 in numbers:
  print('0 is in numbers')
else:
  print('0 is not in numbers')

0 is in numbers
0 is in numbers

## Tuple

In [54]:
# meaningless tuple example
nulls = () 
nulls.append('hamster')

AttributeError: ignored

In [55]:
pet = ('cat','dog')
del pet[1]

TypeError: ignored

In [56]:
# 고정해놓고 참조만 하는 자료형, 주로 기능을 내놓을때 사용
pet

('cat', 'dog')

In [58]:
animals = ('tiger','lion')
pet + animals

('cat', 'dog', 'tiger', 'lion')

In [60]:
pet*3

('cat', 'dog', 'cat', 'dog', 'cat', 'dog')

In [61]:
x = 1
y = -1
print(x, y)

temp = x
x = y
y = temp
print(x, y)

1 -1
-1 1

In [65]:
x = 1
y = -1
print(x, y)

# x,y자리를 바꿀 때 tuple을 사용
(x,y) = (y,x)
print(x, y) # print()일뿐 tuple이 아님 오해금지

1 -1
-1 1

In [ ]:
# 여러개의 값을 반환할때 tuple을 많이 사용

In [66]:
pet

('cat', 'dog')

In [67]:
pet = list(pet)

In [68]:
type(pet)

list

In [69]:
pet

['cat', 'dog']

In [70]:
pet.append('lion')
pet.sort()
pet

['cat', 'dog', 'lion']

In [71]:
pet = tuple(pet)
type(pet)

tuple

In [72]:
pet

('cat', 'dog', 'lion')

In [77]:
print(numbers)
print(numbers[3])
print(numbers[0:3])
print(numbers[0:5:2])

[21758, 7, 0.1, 0, -2, 2, 3, 4]
0
[21758, 7, 0.1]
[21758, 0.1, -2]

## Practice(1) - list

In [78]:
animals = ['rabbit','cat','dog','aligator','tiger','lion']
animals.extend(['hamster','cow','mouse'])
# animals.append() is possible
# list1 + list2 is possible

In [81]:
animals.sort(reverse=True)

In [84]:
animals

['tiger',
 'rabbit',
 'mouse',
 'lion',
 'hamster',
 'dog',
 'cow',
 'cat',
 'aligator']

In [92]:
animals.index('aligator')

8

In [93]:
even_animals = animals[0:len(animals):2]
# animals[::2] is possible
# animals[0::2] is possible

# if you want start odd number
# animals[1::2]
even_animals

['tiger', 'mouse', 'hamster', 'cow', 'aligator']

##Practice(1) - tuple

In [94]:
animals = (
    'rabbit',
    'cat',
    'dog',
    'aligator',
    'tiger',
    'lion'
)
animals2 = ('hamster','cow','mouse')
animals = animals + animals2
animals

('rabbit',
 'cat',
 'dog',
 'aligator',
 'tiger',
 'lion',
 'hamster',
 'cow',
 'mouse')

In [97]:
animals = list(animals)
animals.sort(reverse=True)
even_animals = []
for idx in range(len(animals)):
  if idx%2 == 0:
    even_animals.append(animals[idx])
# tuple also possible animals[::2]

In [98]:
even_animals

['tiger', 'mouse', 'hamster', 'cow', 'aligator']

In [100]:
animals

['tiger',
 'rabbit',
 'mouse',
 'lion',
 'hamster',
 'dog',
 'cow',
 'cat',
 'aligator']

##Dictionaty

In [103]:
# 순서가 필요하지 않은 데이터를 저장하는 것에 좋음
# List에 비해 알아서 메모리 관리를 함
# ram의 접근법과 비슷함 임의 메모리 접근
# 순차 메모리 접근과 반대에 있음 - list[0] ~ list[100]이렇게 안하고 바로 100번지
# 데이터가 유동적이고 활발하게 움직일때 dict가 좋음(index를 사용할 때를 제외)
# hash table은 hash값 과 key value를 이용
some_dict = {
    'name':'John',
    'surname':'Doe',
}

another_dict = dict([('name','John'),('surname','Doe')])

In [102]:
some_dict['name']

'John'

In [106]:
another_dict['surname']

'Doe'

In [ ]:
# 웹에서 dict type을 많이 사용함.
# 웹에서는 xml, json을 많이 쓰는데 json과 dict이 호환이 됨

In [107]:
some_dict['locale'] = 'Seoul, Korea'
some_dict

{'name': 'John', 'surname': 'Doe', 'locale': 'Seoul, Korea'}

In [108]:
some_dict['email'] = 'johndoe1234@gmail.com'
some_dict

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe1234@gmail.com'}

In [ ]:
# dict이 순서대로 나오는데 index가 있는가?
# 없다. jupeter notebook이 정제해서 보여주므로 그렇게 보이는 것뿐
# 입력 순차대로 나오는 것이다

In [109]:
some_dict['mid-term'] = {}
some_dict

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe1234@gmail.com',
 'mid-term': {}}

In [110]:
some_dict['mid-term']['Korea'] = 80
some_dict

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe1234@gmail.com',
 'mid-term': {'Korea': 80}}

In [111]:
some_dict['mid-term']['Math'] = 60
some_dict['mid-term']['English'] = 50
some_dict['mid-term']['Science'] = [10,40,30,50]
some_dict

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe1234@gmail.com',
 'mid-term': {'Korea': 80,
  'Math': 60,
  'English': 50,
  'Science': [10, 40, 30, 50]}}

In [112]:
# 수정할때 알아서 찾아서 바꿈
# dict에서 key값의 중복이 불가능함
some_dict['mid-term']['English'] = 70
some_dict

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe1234@gmail.com',
 'mid-term': {'Korea': 80,
  'Math': 60,
  'English': 70,
  'Science': [10, 40, 30, 50]}}

In [113]:
del some_dict['email']
some_dict

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korea': 80,
  'Math': 60,
  'English': 70,
  'Science': [10, 40, 30, 50]}}

In [114]:
some_dict.keys()

dict_keys(['name', 'surname', 'locale', 'mid-term'])

In [115]:
some_dict.values()

dict_values(['John', 'Doe', 'Seoul, Korea', {'Korea': 80, 'Math': 60, 'English': 70, 'Science': [10, 40, 30, 50]}])

In [116]:
# keys 와 values를 합쳐서 다시 생성 불가능;;
# items로 뽑아 써야함
some_dict.items()

dict_items([('name', 'John'), ('surname', 'Doe'), ('locale', 'Seoul, Korea'), ('mid-term', {'Korea': 80, 'Math': 60, 'English': 70, 'Science': [10, 40, 30, 50]})])

In [117]:
some_dict.pop('surname')

'Doe'

In [118]:
some_dict

{'name': 'John',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korea': 80,
  'Math': 60,
  'English': 70,
  'Science': [10, 40, 30, 50]}}

In [ ]:
# 조회와 추출을 잘 구분할 것
# pop은 추출

In [120]:
some_dict.popitem()
# 가장 마지막 자료를 빼냄. 입력 순서 마지막에 있는 자료가 기준

('mid-term',
 {'Korea': 80, 'Math': 60, 'English': 70, 'Science': [10, 40, 30, 50]})

In [ ]:
# python3.7부터 dict은 LIFO가 보장됨

In [121]:
some_dict['English']

KeyError: ignored

In [122]:
# some_dict.get("English", 0)
# some_dict.get("English", None)
some_dict.get("English", "No such result")

# 조회: enligsh가 있으면 가져오고 없으면 0을 가져와라
# exception을 일으키기 보다는 error handling을 해주는 것이 좋음

0

In [123]:
some_dict

{'name': 'John', 'locale': 'Seoul, Korea'}

In [128]:
some_dict.setdefault("Spanish",0)

0

In [129]:
some_dict

{'name': 'John', 'locale': 'Seoul, Korea', 'English': [], 'Spanish': 0}

In [130]:
some_dict.setdefault("English",0)

[]

In [ ]:
# key값이 존재하는 경우에는 value를 호출하고,
# 없다면 default값을 출력

In [ ]:
['doc','zebra','panda','acorn','dragon']
{
    'd':1,
    'z':1,
}
# 앞 글자를 따서 setdefault, 
# 없다면 0으로 만들고
# 이미 있다면 count + 1을 하면 됨

In [131]:
len(some_dict)

4

In [132]:
some_dict.update({'name':'Jane','locale':'NY, USA'})

In [133]:
some_dict

{'name': 'Jane', 'locale': 'NY, USA', 'English': [], 'Spanish': 0}

In [ ]:
# starbucks.co.kr -> 매장조회
# network -> XHR -> Response -> JSON type -> 'open_dt'

In [134]:
contact={
    'name':'John Doe',
    'locale':'CA, USA',
}

print(f"Hello, {contact['name']}. You are from {contact['locale']}")
# ** is dict unpacking
# ** is only working in function
print("Hello, {name}. You are from {locale}".format(**contact))

Hello, John Doe. You are from CA, USA
Hello, John Doe. You are from CA, USA

##Set

In [138]:
strA = 'fastcampus'
strB = 'python'

#1 f, a, s, t, c, m, p, u, y, h, o, n
#2 p, t
#3 f, a, s, c, m, u
#4 ?

In [ ]:
# Set is no order and unique
# Set으로 type casting시 중복 값을 제거함
# 코딩테스트에서 유용함

In [143]:
faang = {'facebook','apple','amazon','netflix','google','google'}

In [144]:
faang

{'amazon', 'apple', 'facebook', 'google', 'netflix'}

In [145]:
# string을 split해서 set으로 만들어줌
split_str = set('facebook')

In [146]:
split_str

{'a', 'b', 'c', 'e', 'f', 'k', 'o'}

In [147]:
'apple' in faang

True

In [148]:
'danggen' not in faang

True

In [155]:
set_a = set('fastcampus')
set_b = set('shinhan')

print(set_a | set_b)
print(set_a & set_b)
print(set_a - set_b)
print(set_a ^ set_b) # 합집합에서 교집합을 제외한 것 = delta operator

print(set_b - set_a)

{'t', 'u', 'a', 's', 'c', 'p', 'i', 'h', 'm', 'n', 'f'}
{'s', 'a'}
{'t', 'u', 'c', 'p', 'm', 'f'}
{'t', 'u', 'c', 'i', 'p', 'h', 'm', 'n', 'f'}
{'n', 'i', 'h'}

##Practice(2)

dictionary와 set을 이용하여 다음 문제를 해결하세요.

1. 다음 인적사항을 입력하세요.
(list에 각 정보가 dict로 존재)
Name Locale Age Username
Johnny Silverhand Night City 120 Johnny
John Doe CA, USA 40 Doh
Jane Doe Seoul, Korea 24 jane-doe
Foo Bar Busan, Korea 31 foo-bar
2. Jane Doe의 Locale을 London, UK 로 수정하세요.
3. list의 모든 아이템에 대해 key와 value를 모두 출력하세요.(반복문 쓰지 말 것)
4. 다음 list의 중복 아이템을 제거한 뒤, 내림차순으로 정렬하여 출력하세요.

In [156]:
# 1

user = []

user.append({
    'Name':'Jonny Silverhand',
    'Locale':'Night City',
    'Age':120,
    'Username':'Johnny',
})
user.append({
    'Name':'John Doe',
    'Locale':'CA, USA',
    'Age':40,
    'Username':'Doh',
})
user.append({
    'Name':'Jane Doe',
    'Locale':'Seoul, Korea',
    'Age':24,
    'Username':'jane-doe',
})
user.append({
    'Name':'Foo bar',
    'Locale':'Busan, Korea',
    'Age':31,
    'Username':'foo-bar',
})

user

[{'Name': 'Jonny Silverhand',
  'Locale': 'Night City',
  'Age': 120,
  'Username': 'Johnny'},
 {'Name': 'John Doe', 'Locale': 'CA, USA', 'Age': 40, 'Username': 'Doh'},
 {'Name': 'Jane Doe',
  'Locale': 'Seoul, Korea',
  'Age': 24,
  'Username': 'jane-doe'},
 {'Name': 'Foo bar',
  'Locale': 'Busan, Korea',
  'Age': 31,
  'Username': 'foo-bar'}]

In [158]:
# 2

# user[2]['Locale] = 'London, UK'
# user[2].update({'Locale':'London, UK'})

for i in range(len(user)):
  if 'Jane Doe' in user[i]['Name']:
    user[i]['Locale'] = 'London, UK'

In [159]:
user

[{'Name': 'Jonny Silverhand',
  'Locale': 'Night City',
  'Age': 120,
  'Username': 'Johnny'},
 {'Name': 'John Doe', 'Locale': 'CA, USA', 'Age': 40, 'Username': 'Doh'},
 {'Name': 'Jane Doe',
  'Locale': 'London, UK',
  'Age': 24,
  'Username': 'jane-doe'},
 {'Name': 'Foo bar',
  'Locale': 'Busan, Korea',
  'Age': 31,
  'Username': 'foo-bar'}]

In [172]:
# 3

print(user[0].keys(), user[0].values())
print(user[1].keys(), user[1].values())
print(user[2].keys(), user[2].values())
print(user[3].keys(), user[3].values())

###########################################

print(user[0].items())
print(user[1].items())
print(user[2].items())
print(user[3].items())

dict_keys(['Name', 'Locale', 'Age', 'Username']) dict_values(['Jonny Silverhand', 'Night City', 120, 'Johnny'])
dict_keys(['Name', 'Locale', 'Age', 'Username']) dict_values(['John Doe', 'CA, USA', 40, 'Doh'])
dict_keys(['Name', 'Locale', 'Age', 'Username']) dict_values(['Jane Doe', 'London, UK', 24, 'jane-doe'])
dict_keys(['Name', 'Locale', 'Age', 'Username']) dict_values(['Foo bar', 'Busan, Korea', 31, 'foo-bar'])
dict_items([('Name', 'Jonny Silverhand'), ('Locale', 'Night City'), ('Age', 120), ('Username', 'Johnny')])
dict_items([('Name', 'John Doe'), ('Locale', 'CA, USA'), ('Age', 40), ('Username', 'Doh')])
dict_items([('Name', 'Jane Doe'), ('Locale', 'London, UK'), ('Age', 24), ('Username', 'jane-doe')])
dict_items([('Name', 'Foo bar'), ('Locale', 'Busan, Korea'), ('Age', 31), ('Username', 'foo-bar')])

In [168]:
# 4

cities = [
  'Daejeon', 'Ulsan', 'Seoul', 'Jeju',
  'Busan', 'Ulsan', 'Daegu', 'Daejeon',
  'Seoul', 'Seoul', 'Daejeon', 'Gwangju',
  'Busan', 'Daegu', 'Gwangju', 'Daejeon',
  'Ulsan', 'Jeju', 'Gwangju', 'Seoul',
]

In [170]:
cities = set(cities)
cities = list(cities)
cities.sort(reverse=True)
cities

['Ulsan', 'Seoul', 'Jeju', 'Gwangju', 'Daejeon', 'Daegu', 'Busan']

In [ ]:
'''
1. 사용자는 제품 가격을 입력한다
  1-1. 입력이 숫자라면 제품 가격을 저장한다
  1-2. 1-1을 만족하지 못한다면 '입력 오류'를 출력하고 프로그램을 종료한다
2. 사용자는 나라를 입력한다
  2-1. 나라가 USA라면 '주마다 다름'을 출력하고 프로그램을 종료한다
  2-2. 나라가 Korea라면 1번 과정의 값에 0.1을 곱하여 결과값에 저장한다
  2-3. 나라가 Japan이라면 1번 과정의 값에 0.08을 곱하여 결과값에 저장한다
  2-4. 나라가 UK라면 1번 과정의 값에 0.2를 곱하여 결과값에 저장한다
  2-5. 2-1,2,3,4를 만족하지 못한다면 '입력 오류'를 출력하고 프로그램을 종료한다
3. 결과값에 제품 가격을 더해 출력한다
'''

##Conditonal Statement

In [176]:
# if condition:
#   statement
wallet = 3000
if wallet > 4000:
  print('Have some Samkim')
else:
  print('Have some water')

Have some water

In [181]:
wallet = 10000
if wallet > 8000:
  print('Have some Ramen')
else:
  if wallet > 5000:
    print('Have some ttekboki')
  else:
    print('Have some water')

Have some Ramen

In [183]:
# wallet = 10000
wallet = 5000
# weather = 'rainy'
weather = 'cold'

if wallet > 8000 and weather == 'rainy':
  print('Have some pajeon')
elif wallet > 8000 or weather == 'cold':
  print('Have some Ramen')
elif wallet > 5000:
  print('Have some ttekboki')
else:
  print('Have some water')

Have some Ramen

#Conditional Expressions
##Termary Operator

In [184]:
"a" if True else "b"

'a'

In [185]:
"a" if False else "b"

'b'

In [188]:
numbers = [1,3,5,7,9]
num = 0
"odd" if num in numbers else "even"

'even'

In [189]:
num = 1
"odd" if num in numbers else "even"

'odd'

In [199]:
weekdays = [
  't',
  'w',
  't',
  'f',
]
user_input = 'm'
print("weekday" if user_input in weekdays else 
      "Good day" if user_input == "m" else 
      "weekend")

Good day

##Practice(1) - Leap year

In [209]:
# user_input = int(input("Input the year:"))
user_input = 2400
if user_input%4 == 0:
  if user_input%400 == 0:
    if user_input%100 == 0:
      print("Leap year")
    else:
      print("Common year1")
  else:
      print("Common year2")
else:
  print("Common year3")

Leap year

In [219]:
# 공배수 문제는 가장 큰 것부터(위에서 아래로, 왼쪽에서 오른쪽으로)
user_input = int(input("Input the year:"))
# user_input = 2024

if user_input%400 == 0:
  print(f"{user_input} is leap year")
elif user_input%100 == 0:
  print(f"{user_input} is common year")
elif user_input%4 == 0:
  print(f"{user_input} is leap year")
else:
  print(f"{user_input} is common year")

Input the year:2024
2024 is leap year

In [220]:
# 조건문 하나로 한번에 따져볼 수 있음. 집에 가서 고민해보길

#Loop
##For,while Statement

In [223]:
print(list(range(1,10+1)))
for i in range(1,10+1):
  print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [224]:
for c in "ShinhanProDigitalAcademy":
  print(c, end=' ')

S h i n h a n P r o D i g i t a l A c a d e m y

In [226]:
for item in ['cat','dog','hamster']:
  print(f"{item} is so cute")

cat is so cute
dog is so cute
hamster is so cute

In [233]:
for i in range(1,100+1):
  if i%2==0 or i%3==0:
    continue
  elif i%17==0:
    break
  else:
    print(f"{i} is survived")

1 is survived
5 is survived
7 is survived
11 is survived
13 is survived

In [254]:
i = 0
while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [269]:
user_input = ""

while user_input != "taco":
  user_input = input("What do you want to have for dinner?")
  if user_input != "taco":
    print("Not like that!!")
  else:
    print("That is what I wanted!")
    break

What do you want to have for dinner?df
Not like that!!
What do you want to have for dinner?gds
Not like that!!
What do you want to have for dinner?taco
That is what I wanted!

##Fizzbuzz

In [284]:
# dest = int(input("Enter the number: "))
dest = 30 # for debugging

for i in range(1,dest+1):
  if i%15==0:
    print("fizzbuzz") # 2
  elif i%3==0:
    print("fizz") # 10
  elif i%5==0:
    print("buzz") # 6
  else:
    print(i) # 12

# 흐름을 깨지 않는 선에서 경우의 수가 많은것대로 거르는 것이 성능에 맞음
# %5을 먼저하고 %3을 하면 성능 손해

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [286]:
# 1 if statement or no if statement

# dest = int(input("Enter the number: "))
dest = 30 # for debugging

for i in range(1,dest+1):
  print("fizz" if i%3==0 else "buzz" if i%5==0 else i)


# dict를 사용하는 방법도 있네ㅋㅋㅋ

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz

In [290]:
# dest = int(input("Enter the number: "))
dest = 30 # for debugging

for i in range(1,dest+1):
  if i%3==0 or i%5==0:
    print("fizz"*(i%3==0)+"buzz"*(i%5==0))
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [294]:
# dest = int(input("Enter the number: "))
dest = 30 # for debugging

for i in range(1,dest+1):
    print(
      "fizzbuzz" if i%15==0 else 
      "fizz" if i%3==0 else 
      "buzz" if i%5==0 else 
      i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

## N-dimention array

In [241]:
n = []
n = [0 for _ in range(6)]
print(n)

[0, 0, 0, 0, 0, 0]

In [250]:
n = []
n = [n for n in range(6)]
print(n)

[0, 1, 2, 3, 4, 5]

In [265]:
n = []
n = [[n for _ in range(3)] for n in range(3)]
print(n)

[[0, 0, 0], [1, 1, 1], [2, 2, 2]]

In [266]:
n = []
n = [[n for n in range(3)] for _ in range(3)]
print(n)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [259]:
n = []
n = [[n for n in range(3)] for n in range(3)]
print(n)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]